.content-creation-header-outer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content-creation-header-title{
    text-align: center;
    flex: 0.8;
}
.cotnent-creation-save-button-container{
    flex: 0.2;
    cursor: pointer;
}