.post-outer-container{
 display: flex;
 flex-direction: row;
 align-items: center;   
 height: 150px;
 border-radius: 5px;
 border: #ccc;
}
.post-image-container{
    flex: 0.5;
}
.post-content-container{
    flex: 0.5;
    display: flex;
    flex-direction: column;

}
.post-content-title-container{
    flex: 0.9;
}